.portfolio-container {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  background-color: var(--dark-accent);
  flex-wrap: wrap;
}

.portfolio-container p {
  font-size: 1.2rem;
}

.portfolio-projects-frame img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.portfolio-projects-frame img:hover {
  filter: brightness(0.8);
}

.portfolio-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--gap);
  justify-items: center;
}
